/* Importar estetica de la letra */

html,body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    min-height: 100%;
    color: white;
}

body{
    gap: 10px;
    margin: 0;
    margin-top: 20px;
    width: 90%;
    flex:auto;
    background: linear-gradient(325deg, #25D2BD, #AB83C5);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
}

.title__text{
    font-size: 52px;
    margin: 0;
    text-shadow: 3px 2px 7px rgba(0,0,0,0.69);
}

.title__image{
    width: 150px;
    height: 150px;
}

.search-var{
    background-color: white;
    box-shadow: 13px 12px 23px -9px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 900px;
    height: 50px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-var__input{
    height: 70%;
    width: 80%;
    font-size: x-large;
    margin-left: 20px;
    border: transparent;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-var__lens{
    margin-right: 20px;
    width: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 20px;
    gap: 40px;
}

.anime{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.anime__image{
    border-radius: 9px;
    width: 225px;
    height: 337px;
    box-shadow: 3px 4px 13px 0px rgb(1 0 0 / 66%);
    border: solid 3px;
}

.anime__text{
    min-width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 10px;
}

.footer__text{
    font-size: 15px;
    margin: 0;
}

.footer__social{
    display: flex;
    align-items: center;
}

.content__before{
    display: flex;
}

.content__before > p{
    background: linear-gradient(to right, #064a4a9a, #3800369a);
    height: 23%;
    width: 100%;
    margin: 0;
    padding: 10px;
    margin-top: auto;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

  /* Animacionese ========================================================================== */

@keyframes slidein {
    from{
      margin-top: 120px;
    }
  
    to{
      margin-top: 20px;
    }
  }